[Desktop Entry]
Categories=Office;TextEditor;
{{#if comment}}Comment={{comment}}{{/if}}
Exec={{exec}} %f
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
{{#if mime_type}}MimeType={{mime_type}}{{/if}}
StartupWMClass=mdedit
